body{
    background-color: rgb(189, 219, 213);
}
.navbar{
    background-color: #21d7b0;
}
.home-page {
    padding: 10px;
    border: 1px solid #868b8b;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
}
