#
# URL: http/www.kaddouralnaasan.com
#
# configure Routing
#
RewriteEngine On
    # If an existing asset or directory is requested go to it as it is
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    RewriteRule ^ - [L]
    # If the requested resource doesn't exist, use index.html
    RewriteRule ^ /index.html

# 
# configure mod_expires
#
# BEGIN Gzip
#
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
#
# END Gzip
#

#
# BEGIN EXPIRES
#
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access"
    ExpiresByType image/x-icon "access"
    ExpiresByType image/jpeg "access"
    ExpiresByType image/png "access"
    ExpiresByType image/gif "access"
    ExpiresByType application/x-shockwave-flash "access"
    ExpiresByType text/css "access"
    ExpiresByType text/javascript "access"
    ExpiresByType application/x-javascript "access"
    ExpiresByType text/html "access"
    ExpiresByType application/xhtml+xml "access"
    #
    # The Best Time is 2692000
    #
</IfModule>
<IfModule mod_headers.c>
    <FilesMatch "\\.(ico|jpe?g|png|gif|swf|css|js)$">
        Header set Cache-Control "max-age=2692000, public"
    </FilesMatch>
    <FilesMatch "\\.(x?html?|php)$">
        Header set Cache-Control "max-age=0, private, must-revalidate"
    </FilesMatch>
    Header unset ETag
    Header unset Last-Modified
</IfModule>
#
# END EXPIRES
#
